@page "/IdontRememberMyPassword"
@using CodersCupAward.Helper


@if (_showWait)
{
    <WaitState WaitTitle="@Constants.ApplicationLabelPleaseWait"
               WaitMessage="@Constants.ApplicationLabelPleaseWaitProcessing" />
}
else
{
    <div class="container">
        <div class="card mb-3">
            <EditForm Model="@_applicationUser" OnSubmit="SaveFormAsync">
                <div class="card-body">
                    <h1>I don't remember my password</h1>

                    <div class="alert alert-info">
                        Please provide the email address for your profile below.
                    </div>

                    <div class="row row-cols-1 row-cols-md-2 g-4">
                        <div class="col">
                            
                            <div class="mb-3">
                                <span class="text-danger">*</span>
                                <label for="ApplicationUserEmailAddress" class="form-label">@((MarkupString)Constants.ApplicationLabelEmailAddress)</label>
                                <input type="email" class="form-control" id="ApplicationUserEmailAddress" @bind=_applicationUser.EmailAddress>
                            </div>
                           

                        </div>
                        
                    </div>
                </div>

                <div class="card-footer d-flex justify-content-end">
                    <button class="btn btn-primary uniform-btn-width me-3" type="submit">@Constants.ApplicationLabelSubmit</button>
                </div>
            </EditForm>
        </div>
    </div>
}