@page "/RegisterUserCreatePassword"
@using CodersCupAward.Helper

@if (_showWait)
{
    <WaitState WaitTitle="@Constants.ApplicationLabelPleaseWait"
               WaitMessage="@Constants.ApplicationLabelPleaseWaitProcessing" />
}
else
{
    <div class="container">
        <div class="card mb-3">

            <EditForm Model="@_applicationUser" OnSubmit="SaveFormAsync">
                <div class="card-body">
                    <h1>Create Your Password</h1>

                    <div class="alert alert-info">
                        <p>
                            Sorry no SSO on this application, so you need to create a password.
                        </p>
                        <p>
                            The password is hashed on creation, so even if we wanted to help you recover a password,
                            and to be honest, we don't want to because we are off coding ourselves, we can't. 
                            The best we can offer is one of those really annoying reset processes that is mostly what you are about to do.
                        </p>
                        <p>
                            In the event you don't remember your password, there is hope. Somewhere on this amazing website you will find a link labeled "I don't remember my password"
                            from there you will be able to do what is necessary after providing a DNA Sample, 
                            a Government ID, and a selfie of you and the person sitting next to you at some random location will provide. Just kidding,
                            ... but are we? 
                        </p>
                    </div>
                    
                    <div class="mb-3">
                        <span class="text-danger">*</span>
                        <label for="password" class="form-label">@((MarkupString)Constants.ApplicationLabelPassword)</label>
                        <div class="input-group">
                            <input id="password" type="@InputType" @bind="_password" class="form-control" />
                            <span class="input-group-text" @onclick="TogglePasswordVisibility" style="cursor:pointer;">
                                <i style="font-size: 1.2em;" class="bi @(_showPassword ? "bi-eye-slash" : "bi-eye")"></i>
                            </span>
                        </div>

                           <small id="passwordHelp" class="form-text text-muted">
                                @((MarkupString)Constants.ApplicationLabelPasswordHelp)
                            </small>
                    </div>
                    <div class="mb-3">
                        <span class="text-danger">*</span>
                        <label for="confirmPassword" class="form-label">@((MarkupString)Constants.ApplicationLabelConfirmPassword)</label>
                        <div id="confirmPassword" class="input-group">
                            <input type="@InputTypeConfirm" @bind="_confirmPassword" class="form-control"/>
                            <span class="input-group-text" @onclick="ToggleConfirmVisibility" style="cursor:pointer;">
                                <i style="font-size: 1.2em;" class="bi @(_showPassword ? "bi-eye-slash" : "bi-eye")"></i>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="card-footer d-flex justify-content-end">
                    <button class="btn btn-primary uniform-btn-width me-3" type="submit">@Constants.ApplicationLabelSave</button>
                </div>
            </EditForm>
        </div>
    </div>
}